 Python supports 3 categories of data types:
 
  . Basic Types -(integer, float, complex, boolean and string)
  
  . Container Types - (List, Tuples , Sets and Dictonary)
  
  . User-defined Types - class

In [4]:
# integer
print(4)
print(1e309)

4
inf

In [5]:
# float
print(4.5)

4.5

In [7]:
# boolean
print(True)
print(False)

True
False

In [8]:
# complex 
print(4+5j)

(4+5j)

In [11]:
# string
print('kolkata')
print("Kolkata")
print("""Kolkata""")

kolkata
Kolkata
Kolkata

In [12]:
# list
print([1, 2,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
# tuple 
print((1,2,3,4))

(1, 2, 3, 4)

In [14]:
# sets
print({1,2,3,4})

{1, 2, 3, 4}

In [16]:
# dict
print({"Name":"Saurabh","Age":30,"gender":"male"})

{'Name': 'Saurabh', 'Age': 30, 'gender': 'male'}